/* resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}

a{
    font-size: 14px;
    text-decoration: none;
    color: #282c3f;
    font-weight: 700;
    /* text-align: center; */
}

/* utility classes */

.flex{
    display: flex;
    align-items: center;
}

/* header */

header{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    border-bottom: 1px solid #ece1e1;
    position: fixed;
}

.logo img{
    height: 45px;
}

.nav-bar{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}

.nav-bar a sup{
    color: #ff3f6c;
    font-size: 10px;
}

.nav-bar a{
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;
    text-align: center;
}

.nav-bar a:hover{
    border-bottom: 5px solid #f54e77;
}

.search-bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
    
}
.search{
    background-color: #f5f5f6;
    color: #696e79;
    flex-grow: 1;
    height: 40px;
    border: none;
    border-radius: 0 4px 4px 0;
}

.search-icon{
    height: 20px;
    padding: 10px;
    box-sizing: content-box;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}

.action-bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* banner */
.banner img{
    width: 100%;
    padding-inline: 50px;
    padding-top: 5.2rem;
}

.big-banner{
    width: 100%;
    display: flex;
}

.big-banner img{
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* coupon corner */
.coupon-corner h2{
    text-align: center;
    color: rgb(132,64,50);
    font-size: 3rem;
    padding-bottom: 10px;
}

.coupons{
    display: flex;
    width:100%;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 140px;
}

.coupons img{
    width: 100%;
}

.big-coupons img{
    width: 100%;
    padding-bottom: 1%;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* Brand & Products */

.brand-slider{
    display: flex;
    margin-bottom: 3rem;
}

.brand-slider img{
    width: 215px;
}

/* Category section */
.category-heading{
    text-transform: uppercase;
    color: #C6323F;
    font-size: 2.8em;
    font-weight: 700;
    text-align: center;
}

.category-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale-item{
    width: 250px;
}

.big-banners img{
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* Footer */

.footer-container{
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}

.footer-column{
    display: flex;
    flex-direction: column;
}

.footer-column h3{
    color: #282c3f;
    margin-bottom: 25px;
    font-size: 14px;
}

.footer-column a{
    color: #696b79;
    display: block;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}

.google{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.google img{
    width: 100px;
}

.icon-container{
    display: flex;
    gap: 10px;
    margin-top: -9px;
}

.icon-container i{
    font-size: 24px;
}

.footer-column h3 img{
    width: 50px;
}

.footer-column span{
    color: #696e79;
    font-size: 14px;
}

.sub-footer{
    background-color: #FAFBFC; 
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-inline: 144px;
}

.sub-footer h2{
    font-size: 14px;
    color: #282c3f;
    margin-bottom: 25px;
}

.sub-footer p{
    color: #696b79;
    display: block;
    padding-bottom: 5px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 35px;
}

.footerr a{
    color: #4d37f1;
}
.footerr span{
    color: #696b79;;
}
.footerr{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.paragraph p{
    margin-bottom: 0;
    line-height: 15px;
}

.contact{
    text-align: end;
}
