* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #4203a9;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

.calculator h1 {
  font-size: 40px;
  font-weight: 700;
}

.calculator span {
  color: rgb(230, 230, 17);
}

.input-box {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box input {
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
  padding: 15px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  text-align: center;
}

.input-box button {
  background: #ffff76;
  border: 0;
  outline: 0;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}

#result {
  font-size: 18px;
  margin-top: 20px;
}

#result span {
  color: #ffff76;
}

/* Responsive Design */
@media (max-width: 768px) {
  .calculator h1 {
    font-size: 35px;
  }

  .input-box {
    padding: 20px;
  }

  .input-box input {
    max-width: 100%;
    padding: 15px;
  }

  .input-box button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .calculator h1 {
    font-size: 30px;
  }

  .input-box {
    padding: 10px;
  }

  .input-box input {
    padding: 12px;
  }

  .input-box button {
    padding: 12px;
    font-size: 16px;
  }

  #result {
    font-size: 16px;
  }
}

