*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DECDAC;
    font-family: sans-serif;
}

.pop-up{
    max-width: 485px;
    height: 243px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
    padding: 15px;

    /* for center */
    position: fixed;
    inset: 0;
    margin: auto;

    /* display */
    /* display: none; */
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.close-icon{
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.open{
    /* display: block; */
    transform: scale(1);
}

/* .overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.open .overlay{
    display: block;
} */